.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333; /* Atur sesuai dengan warna latar belakang yang Anda inginkan */
  padding: 20px;
  color: white;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  margin-left: 20px;
}

.movie-wrapper {
  background-color: antiquewhite;
  flex: 0 0 calc(25% - 20px);
  color: black;
  margin-bottom: 20px;
}

.movie-image {
  width: 100%;
  height: auto;
}

.search-movie {
  height: 60px;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  width: 450px;
}

.movie-title {
  height: 60px;
  margin-top: 26px;
  font-weight: bold;
}

.movie-date {
  margin-top: 26px;
  font-style: italic;
}

.movie-rate {
  color: red;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}
