.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.navbar {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  padding-right: 300px;
  font-size: 50px;
  color: red;
  font-weight: bold;
}

.navbar .search-movie {
  margin-right: 300px;
}

.navbar .login-button {
  color: red;
  margin-right: 10px;
  border: 2px solid #ff0000;
  padding: 7px 14px;
  border-radius: 30px;
  font-size: 20px;
}

.navbar .register-button {
  background-color: red;
  color: rgb(255, 255, 255);
  border: 2px solid #ff0000;
  padding: 7px 14px;
  border-radius: 30px;
  font-size: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  margin-left: 20px;
}

.movie-wrapper {
  background-color: antiquewhite;
  flex: 0 0 calc(25% - 20px);
  color: black;
  margin-bottom: 20px;
}

.movie-image {
  width: 100%;
  height: auto;
}

.search-movie {
  height: 40px;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  width: 450px;
}

.movie-wrapper .movie-title {
  height: 72px;
}

.movie-detail {
  position: relative;
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
}

.content-overlay {
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20% 50% 0% 1%;
}

.movie-detail .movie-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  /* height: 60px; */
}

.movie-date {
  margin-top: 40px;
  font-style: italic;
}

.movie-rate {
  margin-bottom: 24px;
  margin-top: 26px;
}

.close-button {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.close-button:hover {
  background-color: rgb(226, 77, 77);
}
